
PARSER ERROR, LINE 8: syntax error, unexpected CONST
TOKEN 123 : {
TOKEN 274 : vec4
TOKEN 279 : fCol
TOKEN  61 : =
TOKEN 279 : gl_color
TOKEN  59 : ;
TOKEN 274 : vec4
TOKEN 279 : fTex
TOKEN  61 : =
TOKEN 279 : gl_TexCoord
TOKEN  59 : ;
TOKEN 274 : vec4
TOKEN 279 : eyeNorm
TOKEN  59 : ;
TOKEN 274 : vec4
TOKEN 279 : coeff
TOKEN  59 : ;
TOKEN 274 : vec4
TOKEN 279 : shade
TOKEN  59 : ;
TOKEN 261 : const
TOKEN 274 : vec4
TOKEN 279 : lVec
TOKEN  61 : =
TOKEN 279 : env1
TOKEN  59 : ;
TOKEN 261 : const
